@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  a:link,
  a:visited {
    @apply text-blue-700;
  }
}

a.active {
  @apply font-bold;
}

@keyframes slide-right-offseted {
  0% {
    @apply transform-gpu -translate-x-[100%];
  }

  100% {
    @apply transform-gpu -translate-x-[10%];
  }
}

@keyframes slide-right {
  0% {
    @apply transform-gpu -translate-x-[100%];
  }

  100% {
    @apply transform-gpu translate-x-0;
  }
}
